

a {
  color: #0e7aea;
  text-decoration: none;
}

h6 {
  color: #9aa3ab;
  font-weight: 300;
  line-height: 15px;
}

h5 {
  text-align: left;
  color: #99a1aa;
  font-weight: 300;
}

h4 {
  font-weight: 300;
  font-size: 13px;
  color: #97a2ad
}

h3 {
  color: #58636a;
  font-weight: 500;
}

.container {
  width: 100%;
  height: 100%;
    margin: 20px 0px;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
  -moz-box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
  box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
}

.left {
  background-color: #005eb8;
  width: 39%;
  height: 457px;
  border-radius: 5px 0 0 5px;
  float: left;
  color: #ffffff;
}

.info-box {
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 2px;
}

.receipt {
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #3895f4;
  height: 15%;
}

.receipt > span {
  font-weight: 500;
  font-size: 21px;
}

.entry {
  border-bottom: 1px solid #0a4a87;
  height: 15%;
  overflow: hidden;
  padding-top: 15px;
}

.entry > p {
  font-weight: 300;
  font-size: 13px;
  line-height: 26px;
  margin-top: 0px !important;
  float: left;
  text-align: left;

}

.entry > i {
  margin-top: 4px;
  margin-right: 13px;
  float: left;
  color: #b4d8fc;
}

span {
  font-weight: 500;
  font-size: 16px;
}

.entry:last-child {
  border-bottom: none;
}

.right {
  background-color: #fefefe;
  width: 61%;
  height: 100%;
  float: left;
  border-radius: 0 5px 5px 0;
}

.content {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.header {
  overflow: hidden;
  border-bottom: 1px solid #d7e2e7;
  height: 50px;
}

.header > img {
  width: 100px;
  float: left;
}

.header > h4 {
  text-align: right;
  margin-top: 10px;
}

.main {
  margin-top: 5px;
}

.message {
  margin-top: 10px;
}

.message > p {
  font-weight: 300;
  font-size: 15px;
  color: #7a838d;
  line-height: 30px;
}

.message > h6 {
  margin-top: 10px;
}

.footer {
  overflow: hidden;
  border-top: 1px solid #d7e2e7;
  margin-top: 10px;
  padding-top: 10px;
}

.footer > a {
  font-size: 13px;
  font-weight: 500;
  float: left;
}

.footer > h6 {
  color: #7a838d;
  text-align: right;
  margin-top: 0px !important;
}
@media  (max-width: 500px) {
      .left{
      display: none;
      }
      .right{
        width: 100%;
      }
} 